<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shrinker | by Sergei Kovtun</title>
  </head>
  <body>
    <h1>URL Shrinker</h1>
    <form action="" method="post">
      <label for="fullUrl">URL:</label>
      <input type="url" name="fullUrl" id="fullUrl">
      <button type="submit">Shrink</button>
    </form>

  </body>
</html>
